:root{
    --top-bar-height: 2.8em;
    --max-width: 550px;
}

/* Background items */
#grade-view-backdrop {
    background-color: #00000030;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    display: flex;
    justify-content: right;
    transition: background-color 0.2s ease-in-out;
}
#grade-view-backdrop-text{
    position: fixed;
    top: 1em;
    right: max(3.5vw, 1em);
    text-align: right;
    line-height: 1em;
    color: white;
    cursor: pointer;
}


/* Grade view */
#grade-view-container {
    position: fixed;
    top: var(--top-bar-height);
    right: 2vw;
    background-color: var(--background-colour);
    height: calc(100vh - var(--top-bar-height));
    border-radius: 1em 1em 0 0;
    pointer-events: all;
    width: min(100vw, var(--max-width));
    overflow: clip;
}
#grade-view {
    overflow-y: scroll;
    position: relative;
    height: 100%;
}
#grade-view-header {
    height: 9em;
    background-color: var(--header-colour);
    display: flex;
    align-items: flex-end;
    padding: 1.5em 1.5em;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-colour);
}
#grade-view-body {
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Card styles */
.card{
    background-color: var(--card-colour);
    color: var(--card-text-colour);
    width: 100%;
    min-height: 5em;
    border-radius: 1em;

    box-sizing: border-box;
    padding: 1.5em;
}

.card > .new-button-container > .new-button-link{
    float: left;
}

.cards-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.cards-container .card:first-child{
    border-radius: 1em 1em 0.2em 0.2em;
}

.cards-container .card:last-child{
    border-radius: 0.2em 0.2em 1em 1em;
}



/* Text styles */
h2 {
    font-size: 1.2em;
    margin: 0 0 0.25em 0;
    font-weight: 500;
    color: var(--card-text-colour);
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 1em;
    color: var(--subtitle-colour);
    width: 100%;
    font-family: inherit;
    padding: 0;
}

input{
    border: none;
    outline: none;
    color: var(--subtitle-colour);
    font-family: inherit;
    padding: 0;
    background-color: transparent;
    font-size: 1.25em;

}



.course-groups-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.group-grades-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 95%;
    margin: 0 auto;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

}

.card .time-period-menu-container > span{
    margin: 0;
}

.grade{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 0.5em;
    align-items: stretch;
}


.grade-score, .grade-weight{
    display: flex;
    flex-direction: row;
}

.grade-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.grade-score, .grade-weight, .grade-title{
    background-color: #252428;
    padding: 0.5em 1em;
    box-sizing: border-box;
    align-items: center;
    border-radius: 0.5em;
    gap: 0.1em;
}

.grade-table-header{
    opacity: 0.5;
    font-size: 0.85em;
    margin-left: 0.6em;
    font-style: italic;
}

.percentage-input{
    text-align: right;
    max-width: 2.5em;
}

/* Chrome, Safari, Edge, Opera */
.percentage-input::-webkit-outer-spin-button,
.percentage-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.percentage-input[type=number] {
  -moz-appearance: textfield;
}







/* Slide items for transition animations */
.slide-item-enter {
    right: calc(-1 * var(--max-width)) !important;
}
.slide-item-enter-active {
    right: 2vw !important;
    transition: right 300ms ease-out;
}
.slide-item-enter-done{
    right: 2vw !important;

}
.slide-item-exit-active {
    /* top: 105vh !important; */
    right: calc(-1 * var(--max-width)) !important;
    transition: right 300ms ease-out;
}

/* Scroll bars */
#grade-view::-webkit-scrollbar {
    background-color: transparent;
    width: 0.2em;
}

#grade-view::-webkit-scrollbar-thumb {
    background-color: var(--card-colour);
    border-radius: 1em;
}





/* Media queries */
@media screen and (max-width: 1060px) {
    #grade-view-backdrop {
        width: 100vw;
        pointer-events: all;
        background-color: #1c1b1eb8;
        backdrop-filter: blur(3px);
        
    }
}

@media screen and (max-width: 560px) {
    .slide-item-enter-active {
        right: 0 !important;
        transition: right 300ms ease-out;
    }
    
    .slide-item-enter-done{
        right: 0 !important;
    }

    #grade-view-body{
        padding: 1em 0.5em;
    }

    #grade-view-backdrop{
        height: calc(100vh - 42px);
    }
}
