.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


div{
  background-color: rgba(0, 0, 255, 0.062) ;
  padding: 1em;
  position: relative;
}



/* Dropdown menu */
.time-period-menu-container{
  position: absolute;
  right: 0;
  top: 0;
}

.time-period-menu-dropdown{
  position: absolute;
  right: 0;
}
