/* Testing */


#app-base{
  max-width: 450px;
  user-select: none;
}

div{
  position: relative;
}



/* Colours */
:root{
  --background-colour: #1E1D20;
  --header-colour: #2A262D;
  --card-colour: #2A282C;
  --card-active-colour: #3B393D;
  --popup-colour: #575459;
  --popup-input-colour: #4E4C50;

  --title-colour: #CBCBCB;
  --subtitle-colour: #9D95A2; 
  --card-text-colour: #7C787E;
  --popup-text-colour: #A6A1A8;

  --purple-bg-colour: #847394;
  --purple-text-colour: #CEC0DC;

  --yellow-bg-colour: #8A7145;
  --yellow-card-colour: #B89C69;
  --yellow-text-colour: #FED792;

  --green-bg-colour: #466740;
  --green-card-colour: #6C8C6C;
  --green-text-colour: #BFE7A1;

  --blue-bg-colour: #325C66;
  --blue-card-colour: #5A7F8A;
  --blue-text-colour: #A1DEE7;
}

body{
  background-color: var(--background-colour);
}

/* Header */
header{
  height: 25vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  background-color: var(--header-colour);
}
h1{
  color: var(--title-colour);
  font-size: 3em;
  margin: 0;
}
h2{
  color: var(--subtitle-colour);
  font-size: 0.85em;
  margin: -0.5em 0 0 4em;
}

/* Cards */
/* #period-container{
  min-height: 65vh;
} */
#year-container{
  overflow-x: scroll;

  min-height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

#year-container::-webkit-scrollbar {
  display: none;
}

.year{
  width: min(105%, 380px);
  margin: 0 2%;
  height: 75vh;
  flex: 0 0 auto;
  scroll-snap-align: center;
  -webkit-overflow-scrolling: touch;

  overflow-y: scroll;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  background-color: var(--card-active-colour);
  border-radius: 1em;
  padding: 1.5rem;
  box-sizing: border-box;

}
.year-title{
  font-size: 2em;
  font-weight: bold;
  color: var(--card-text-colour);
}
#mock-add-year-button{
  flex: 0 0 auto;
    height: 75vh;
    scroll-snap-align: center;
    width: min(200px, 80%);
    margin: 0 2%;
    background-color: var(--card-colour);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    color: var(--card-active-colour);
    cursor: pointer;
}
.year-terms-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.term{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--yellow-bg-colour);
  border-radius: 1em;
  padding: 1.2rem;
  box-sizing: border-box;
}
.term-title{
  font-weight: bold;
  color: var(--yellow-text-colour);
}
.term-courses-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.course{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--yellow-card-colour);
  border-radius: 1em;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}
.course-title{
  color: var(--yellow-text-colour);
}







/* New button */

.new-button-container{
  margin-top: auto;
}
.new-button-link {
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  float: right;
  color: var(--title-colour);
  margin-top: 0.2em;
}


/* Dropdown menu */
.time-period-menu-container{
  position: absolute;
  right: 0;
  top: 0;
}

.time-period-menu-dropdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: var(--popup-colour);
  padding: 0.25em 0;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 0.5em;
}
.time-period-menu-container > span {

  margin: 0.5em 0.5em 0 0;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: var(--title-colour);
  user-select: none;
}

.time-period-menu-item{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.85em;
  color: var(--title-colour);
  padding: 0.5em 1em;
  cursor: pointer;
}

.time-period-menu-item:hover{
  background-color: var(--popup-input-colour);
}

@media screen and (max-width: 600px) {
  body{
    font-size: 1.2em;
    /* background-color: red; */
  }
}

  
