/* Global styles */
body{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
body::-webkit-scrollbar {
  display: none;
}

div{
  position: relative;
}



/* Colours */
:root{
  --background-colour: #1E1D20;
  --header-colour: #2A262D;
  --card-colour: #2A282C;
  --card-active-colour: #3B393D;
  --popup-colour: #575459;
  --popup-input-colour: #4E4C50;

  --title-colour: #CBCBCB;
  --subtitle-colour: #9D95A2; 
  --card-text-colour: #7C787E;
  --popup-text-colour: #A6A1A8;
}

body{
  background-color: var(--background-colour);
}

/* Header */
header{
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  background-color: var(--header-colour);
  transition: padding 0.2s ease-in-out;
  /* animation: app-start-anim 1s 0.4s ease-in-out forwards; */
}

/* #logo-container{
  transform: translate(32%)  translateY(-30vw) scale(1.1);
  animation: app-start-anim-logo 1s 0.4s ease-in-out forwards;
} */

/* @keyframes app-start-anim-logo{

  to{
    transform: translateX(0%) translateY(0) scale(1);
  }
}
@keyframes app-start-anim{
  to{
    height: 25vh;
  }
} */

h1{
  color: var(--title-colour);
  transition: font-size 0.2s ease-in-out;
  font-size: 3em;
  margin: 0;
}
h2{
  color: var(--subtitle-colour);
  transition: font-size 0.2s ease-in-out;
  font-size: 0.85em;
  margin: -0.5em 0 0 4em;
}

/* Cards */
#year-container{
  overflow-x: scroll;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  transition: width 0.6s;
}
.small-view{ /* This shrinks panel on laptops */
  width: calc(100vw - 550px) !important;
}

#year-container::-webkit-scrollbar {
  display: none;
}
.year::-webkit-scrollbar{
  display: none;
}

.year{
  width: min(105%, 420px);
  margin: 0 0.5em;
  height: 75vh;
  flex: 0 0 auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;

  overflow-y: scroll;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  background-color: var(--card-active-colour);
  border-radius: 1em;
  padding: 1.5rem;
  box-sizing: border-box;
  color: var(--card-text-colour);
}
.year-title{
  font-size: 2em;
  font-weight: bold;
  
}
.year-terms-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.term{
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  padding: 1.2rem;
  box-sizing: border-box;
}

.term-title{
  font-weight: bold;
}
.term-courses-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.course{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--yellow-card-colour);
  border-radius: 1em;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.course:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
}




/* Input field popup */
#popup-input{
  position: fixed;
  /* bottom: 0; */
  /* margin-bottom: calc(20px + env(keyboard-inset-height)); */
  bottom: 0;
  width: 100vw;
  height: 5em;
  background-color: var(--popup-colour);
  z-index: 100;
}

#popup-backdrop{
  height: 100vh;
  width: 100vw;
  background-color: #00000050;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
}


/* New item button */
.new-button-container{
  margin-top: auto;
}
.new-button-link {
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  float: right;
  margin-top: 0.2em;
}
.new-button-link:hover{
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}
/* Mock new button for years only */
#mock-add-year-button-container{
  flex: 0 0 auto;
  height: 75vh;
  scroll-snap-align: center;
  width: min(200px, 80%);
  margin: 0 0.5em;
  background-color: var(--card-colour);
  border-radius: 1em;
  box-sizing: border-box;
  padding: 1.5em;
  color: var(--card-active-colour);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, width 0.2s ease-in-out;
}
#mock-add-year-button{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 2em;
cursor: pointer;
}
#mock-add-year-button-container:hover{
  background-color: var(--card-active-colour);
  color: var(--card-text-colour);
}


/* Dropdown menu */
.time-period-menu-container{
  position: absolute;
  right: 0;
  top: 0;
}
.time-period-menu-dropdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5em;
  background-color: var(--popup-colour);
  padding: 0.25em 0;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 0.5em;
}
.time-period-menu-container > span {
  margin: 0.3em 0.3em 0 0;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  user-select: none;
  padding: 0.1em;
  border-radius: 2em;
  transition: background-color 0.2s ease-in-out;
}
.time-period-menu-container > .material-symbols-outlined:hover{
  background-color: #ffffff10;
}
.time-period-menu-item{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.85em;
  color: var(--title-colour);
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.time-period-menu-item:hover{
  background-color: var(--popup-input-colour);
}










@media screen and (max-width: 550px) {
  body{
    font-size: 1em;
  }
  .year, #mock-add-year-button-container{
    margin: 0 0.25em;
  }

  .prevent-scroll{
    transition: height 0.2s ease-in;
    height: calc(100vh - 42px); /* Removes scroll given by address bar on mobile devices */
    overflow-y: hidden;
  }
}

@media screen and (max-width: 800px) {
  .small-header{
    padding: 0.8rem;
  }
  .small-header h1{
    font-size: 1.8em;
  }
  .small-header h2{
    font-size: 0.58em;
  }
}

@media screen and (max-width: 1100px) {
  .small-view{
    width: 100% !important;
  }
}




/* Fade items */
.fade-item-enter {
  opacity: 0;
}
.fade-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-item-exit {
  opacity: 1;
}
.fade-item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
